:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayishblue: hsl(220, 15%, 55%);
  --Darkblue: hsl(218, 44%, 22%);
  --grey: #7D889E;
}

body {
  background-color: #D5E1EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;

}

p, img {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--White);
  border-radius: 20px;
  display: inline-block;
  font-family: outfit;
  
}

.qr-code-image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 18px;

}

.text-container {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 288px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--Darkblue);
}

.subtitle {
  color: var(--grey);
  font-size: 15px;
  letter-spacing: .19px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 40px;
  width: 260px;
}